<div id="mySidenav" class="sidenav" #slideNavInstanse>
  <a routerLink="/main">Будівельна компанія</a>
  <a routerLink="/map" >About</a>
  <a routerLink="/family">Services</a>
  <a routerLink="/your-house">Clients</a>
  <a routerLink="/advantages">Contact</a>
  <a routerLink="/builder">Будівельна компанія</a>
</div>

<div class='openNav' #openNavInstance
			(click)="openCloseNav( openNavInstance, slideNavInstanse )">
	<span class='hide_to_left'>MENU </span><span>&#9776; </span><span class='menuText'> меню </span> <span>&#9776;</span>
</div>
<router-outlet></router-outlet>