main {
	text-align: center;
}
div.general_planning {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	background: url('../img/complex-plan.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 887px;
	height: 604px;
	z-index: 1;
}
svg {
	position: relative;
	width: 100%;
	height: 100%;
}
svg polygon {
			z-index: 2;
}
g {
	stroke:	#5A5B5F;
	cursor: pointer;
	fill: rgb(240, 240, 240);
	-webkit-transition: .5s;
	transition: .5s;
}
g:hover {
	fill: rgb(200, 200, 200);
	z-index: 9999;
}