<main role='main'>
	<div class='general_planning'>
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: inline-block;">
		   <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		      <g id="D-/-step-4.1-/-1920-" transform="translate(-612.000000, -1138.000000)">
		          <g id="section-1" transform="translate(613.000000, 1139.000000)">
		              <g id="1B" class="apart" data-room="1" data-square="41,05"
		              (mouseenter)="showData($event)"
		              (mouseleave)="hideData($event)"
		              [routerLink]="['/house', house.id, 'section', section.id,'floor', floor.id, 'apartment', '1B']">
		                  <polygon id="p1" stroke="#5A5B5F" fill="#CBAC42" points="75.0662 255.295 78.1063 252.255 108.071 281.785 113.284 276.577 121.098 284.394 131.088 284.394 144.551 270.059 138.038 263.546 162.358 239.658 132.827 211.431 148.027 196.233 45.1005 93.7412 1.67195 137.171 54.6549 190.585 32.9406 212.302"></polygon>
		                  <text>
		                      <tspan x="80" y="230">1Б</tspan>
		                  </text>
		              </g>
		              <g id="2V" class="apart" data-room="2" data-square="73,06"
		              (mouseenter)="showData($event)"
		              (mouseleave)="hideData($event)"
		              [routerLink]="['/house', house.id, 'section', section.id,'floor', floor.id, 'apartment', '2V']">
		                  <polygon id="2" stroke="#5A5B5F" fill="#CBAC42" transform="translate(547.250000, 234.000000) scale(-1, 1) translate(-547.250000, -234.000000) " points="663.338 318.175 689.487 292.469 689.487 288.923 701.454 288.923 708.544 282.277 708.544 268.093 745.772 268.093 745.772 171.477 667.327 171.477 649.598 188.762 624.782 163.943 605.723 182.556 516.641 93.918 477.642 132.035"></polygon>
		                  <text>
		                      <tspan x="432" y="258">2В</tspan>
		                  </text>
		              </g>
		              <g id="2A" class="apart" data-room="2" data-square="51,68"
		              (mouseenter)="showData($event)"
		              (mouseleave)="hideData($event)"
		              [routerLink]="['/house', house.id, 'section', section.id,'floor', floor.id, 'apartment', '1A']">
		                  <polygon id="3" stroke="#5A5B5F" fill="#CBAC42" points="128.558 176.382 159.709 145.669 201.831 145.669 201.831 45.1922 191.738 45.1922 191.738 36.856 114.517 36.856 100.475 50.4575 91.2621 41.2434 82.0482 41.2434 73.7117 49.58 65.3752 41.6824 29.8358 77.6606"></polygon>
		                  <text>
		                      <tspan x="135" y="120">2А</tspan>
		                  </text>
		              </g>
		              <g id="2B" class="apart" data-room="2" data-square="54,04"
		              (mouseenter)="showData($event)"
		              (mouseleave)="hideData($event)"
		              [routerLink]="['/house', house.id, 'section', section.id,'floor', floor.id, 'apartment', '2B']">
		                 <polygon points="645.625 180.133 681.317 145.731 681.317 145.731 718.299 145.819 718.299 145.731 719.015 111.846 718.299 47.2535 718.299 47.2535 708.409 47.2535 708.409 38.6531 634.016 38.6531 616.385 55.424 607.782 46.8234 598.753 46.8234 590.582 54.994 582.411 46.8234 547.579 82.5159 645.625 174.972" id="4" stroke="#5A5B5F" fill="#CBAC42" transform="translate(568.565300, 123.750000) scale(-1, 1) translate(-568.565300, -123.750000) "></polygon>
		                  <text>
		                      <tspan x="540" y="120">2Б</tspan>
		                  </text>
		              </g>
		              <g id="1V" class="apart" data-room="1" data-square="44,68"
		              (mouseenter)="showData($event)"
		              (mouseleave)="hideData($event)"
		              [routerLink]="['/house', house.id, 'section', section.id,'floor', floor.id, 'apartment', '1V']">
		                  <polygon id="5" stroke="#5A5B5F" fill="#CBAC42" points="202.268 44.3149 202.268 145.669 306.522 145.669 306.522 0 245.269 0 245.269 7.45893 211.482 7.45893 211.482 17.1117 199.196 17.1117 192.176 24.1319 192.176 44.3149"></polygon>
		                  <text>
		                      <tspan x="280" y="90">1В</tspan>
		                  </text>
		              </g>
		              <g id="1G" class="apart" data-room="1" data-square="44,68"
		              (mouseenter)="showData($event)"
		              (mouseleave)="hideData($event)"
		              [routerLink]="['/house', house.id, 'section', section.id,'floor', floor.id, 'apartment', '1G']">
		                  <polygon id="6" stroke="#5A5B5F" fill="#CBAC42" transform="translate(415.151855, 83.000000) scale(-1, 1) translate(-415.151855, -83.000000) " points="416.934 41.7313 416.934 146.187 524.378 146.187 524.378 -3.94 461.249 -3.94 461.249 3.7472 426.43 3.7472 426.43 13.6955 413.769 13.6955 406.535 20.9306 406.535 41.7313"></polygon>
		                  <text>
		                      <tspan x="400" y="90">1Г</tspan>
		                  </text>
		              </g>
		              <g id="1A" class="apart" data-room="1" data-square="38,99"
		              (mouseenter)="showData($event)"
		              (mouseleave)="hideData($event)"
		              [routerLink]="['/house', house.id, 'section', section.id,'floor', floor.id, 'apartment', '1A']">
		                  <polygon id="7" stroke="#5A5B5F" fill="#CBAC42" points="147.766 197.01 173.284 171.045 267.297 170.599 267.297 268.192 229.233 268.192 229.233 282.513 222.461 289.283 209.986 289.283 209.986 292.811 185.136 317.664 168.35 300.877 164.779 304.453 138.814 278.487 144.633 272.667 137.918 265.952 162.542 241.778 132.546 212.232"></polygon>
		                  <text>
		                      <tspan x="220" y="258">1А</tspan>
		                  </text>
		              </g>
		          </g>
		      </g>
		  </g>
		</svg>
	</div>
	<div *ngIf="about_apartment">
	<h2 style='text-align: center;'>
		Кількість кімнат: {{about_apartment.room}} | Загальна площа: {{about_apartment.square}} м.кв.
	</h2>

	</div>
</main>